

.flex-container {
    display:flex;
    flex-direction: row;
    align-items:flex-start;
}

.flex-container div{
    background: darkslateblue;
    height: 50px;
    flex: 1 1 auto;
    align-self: center;
}

.flex-container .right {
    text-align: right;
  
}

.flex-container2 h1 {
    background:azure;
    height: 200px;
    flex: 1 1 auto;
    align-self: center;
}

.flex-container2 .right {
    float:right;
}

.flex-container3 h2 {
    background: darkslateblue;
    height: 200px;
    flex: 1 1 auto;
    align-self: center;
}

.flex-container3 .right {
    text-align: right;
}

.flex-container4 h5 {
    background:azure;
    height: 200px;
    flex: 1 1 auto;
    align-self: center;
}

.flex-container5 h6 {
    background: darkslateblue;
    height: 200px;
    flex: 1 1 auto;
    align-self: center;
}

.flex-container6 h6 {
    background: darkslateblue;
    height: 50px;
    flex: 1 1 auto;
    align-self: center;
}